<div class="card-home-container">
  <div class="card-home">
    <div class="card-home-nome-empresa">
      <h2>{{ title }}</h2>
    </div>

    <div class="card-home-hr">
      <hr/>
    </div>

    <div class="card-home-card-info">
      <app-card-info [cardQtd]="pacientes" cardText="Pacientes" [routerLink]="['/pacientes']"></app-card-info>
      <app-card-info [cardQtd]="procedimentos" cardText="Procedimentos" [routerLink]="['/procedimentos']"></app-card-info>
      <app-card-info [cardQtd]="consultasHoje" cardText="Consultas hoje" [routerLink]="['/verificarconsulta']"></app-card-info>
      <app-card-info [cardQtd]="procedimentosHoje" cardText="Procedimentos hoje" [routerLink]="['/verificarprocedimento']"></app-card-info>
    </div>
  </div>

</div>
