<div class="paciente-container">
    <div class="paciente-title">
        <h2>PROCEDIMENTOS</h2>
    </div>
  
    <div class="paciente-hr">
      <hr/>
    </div>

    <div class="paciente-input">
      <input placeholder="selecione a data" type="date" [(ngModel)]="date">
      <div class="paciente-buscar">
        <a (click)="findByDate()"><span>BUSCAR</span></a>
      </div>
    </div>
  
    <div class="paciente-text">
      <ul>
        <li *ngFor="let a of servicoProcedimento" >
            <div class="card-paciente" >
                <a [routerLink]="['/procedimento',a.id]">
                  <h3>Med: {{ a.procedimento.nome }}</h3>
                  <h3>Pac: {{ a.paciente.nome }}</h3>
                  <h3>Hora: {{ (transform(a.horarioProcedimento) | date:'HH:mm') }}</h3>
                </a>
            </div>
        </li>
        <li *ngIf="servicoProcedimento.length === 0">
          <div class="card-paciente-nao-cadastrado" >
            <h3>Nenhum procedimento marcado</h3>
          </div>
        </li>
      </ul>
    </div>
  
  
  </div>
  