<div class="paciente-container">
    <div class="paciente-title">
        <h2>PACIENTES</h2>
    </div>
  
    <div class="paciente-hr">
      <hr/>
    </div>
  
    <div class="paciente-cadastrar">
      <a [routerLink]="['/pacientes/cadastro']"><span>CADASTRAR</span></a>
    </div>
  
    <div class="paciente-input">
      <input type="text" [(ngModel)]="nameInput">
      <div class="paciente-buscar">
        <a (click)="findName()"><span>BUSCAR</span></a>
      </div>
    </div>
  
    <div class="paciente-text">
      <ul>
        <li *ngFor="let a of pacientes" >
            <div class="card-paciente" >
                <a [routerLink]="['/pacientes',a.id]">
                  <h3>{{ a.nome }}</h3>
                  <h3 *ngIf="a.cpf != null">{{ a.cpf }}</h3>
                </a>
            </div>
        </li>
        <li *ngIf="pacientes.length === 0">
          <div class="card-paciente-nao-cadastrado" >
            <h3>Nenhum paciente cadastrado</h3>
          </div>
        </li>
      </ul>
    </div>
  
  
  </div>
  