<div class="menu-bar" [ngClass]="{'collapsed-menu': menuCollapsed}">
  <div class="btn-menu">
    <a (click)="toggleMenu()"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></a>
  </div>

  <ul>
    <div class="menu-lateral-text">
      <li><a [routerLink]="['/home']"><i class="fa-solid fa-house" style="color: #ffffff;"></i><p>INÍCIO</p></a><hr/></li>
      <li><a [routerLink]="['/agenda']"><i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i><p>AGENDA</p></a><hr/></li>
      <li><a [routerLink]="['/verificarconsulta']"><i class="fa-solid fa-wallet" style="color: #ffffff;"></i><p>CONSULTAS</p></a><hr/></li>
      <li><a [routerLink]="['/verificarprocedimento']"><i class="fa-solid fa-clipboard" style="color: #ffffff;"></i><p>PROCEDIMENTOS</p></a><hr/></li>
      <li><a [routerLink]="['/pacientes']"><i class="fa-solid fa-users" style="color: #ffffff;"></i><p>PACIENTES</p></a><hr/></li>
      <li><a [routerLink]="['/funcionarios']"><i class="fa-solid fa-person-chalkboard" style="color: #ffffff;"></i><p>FUNCIONÁRIOS</p></a><hr/></li>
      <li><a [routerLink]="['/especialidades']"><i class="fa-solid fa-book-medical"></i><p>ESPECIALIDADES</p></a><hr/></li>
      <li><a [routerLink]="['/procedimentos']"><i class="fa-solid fa-hospital-user" style="color: #ffffff;"></i><p>CADASTRAR PROCED.</p></a><hr/></li>
      <li><a [routerLink]="['/relatorios']"><i class="fa-solid fa-gear" style="color: #ffffff;"></i><p>RELATÓRIOS</p></a><hr/></li>
      <li><a (click)="logout()"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i><p>SAIR</p></a><hr/></li>
    </div>
  </ul>



</div>
