<div class="container">
    <div class="card-especialidades-title">
        <h2>MARCAR PROCEDIMENTO</h2>
      </div>
    
      <div class="especialidades-hr">
        <hr/>
      </div>

    
    <div class="container-max-box">
        <div class="container-box" >
            <div class="box">
                <h3>{{nomeProcedimento}}</h3>
                <div class="quebra"></div>
                <fieldset class="info-horario">
                    <div class="horario" *ngFor="let h of horarioResposta"> 
                        <a class="horarios" (click)="selecionarHorario(h, paramValueId)"><b>{{h}}</b></a>
                      
                    </div>          
                    
                </fieldset>
            </div>
        </div>
    </div>
    
</div>