body{
    margin: 0;
    padding: 0;
}
.navbar-brand{
	font-weight: bold;
	font-size: 30px;
	cursor: default;
	
}
.navbar-brand img{
	height: 70px;
}


.navbar-nav{
	font-weight: bold;
}


nav{
	margin-bottom: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.options {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.dados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dados > p > b{
	margin-right: 8px;
}
.dados img{
    height: 10%;
    width: 10%;
    margin-top: 50px;
}
.dados p{
    margin-top: 30px;
}

#btn-voltar{
    margin-left: 115px;
    margin-top: 30px

}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
@media (max-width:768px) {
    .info{
        display: flex;
        flex-direction: column;
    }
    .info h2{
        text-align: center;
    }
    .options{
        margin-top: 20px;
        justify-content: space-around;
    }
    .dados img{
        width: 25%;
        height: 25%;
    }
    
    #btn-voltar{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        
    }
}