.navbar-brand{
	font-weight: bold;
	font-size: 30px;
	cursor: default;
}
.navbar-brand img{
	height: 70px;
}
.navbar-nav{
	font-weight: bold;
}
nav{
	margin-bottom: 50px;
}
.container{
    width: 80%;   
}
.container label{
    font-size: 18px;
    margin-top: 20px;
}
.container input{
    margin-top: 5px;
    background-color:lightblue;
}
.container-cadastrar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px

}
footer{
    margin-top: 70px;
    text-align: center;
    margin-top: 30px;
}