.navbar-brand{
	font-weight: bold;
	font-size: 30px;
	cursor: default;
	
}
.navbar-brand img{
	height: 70px;
}


.navbar-nav{
	font-weight: bold;
}


nav{
	margin-bottom: 50px;
}
.funcao{
	display: flex;
	flex-direction: row;
	gap: 50px;
}
.funcao input{
	width: 50%;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}