.navbar-brand{
	font-weight: bold;
	font-size: 30px;
	cursor: default;
}
.navbar-brand img{
	height: 70px;
}

.navbar-nav{
	font-weight: bold;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.container > img{
	height: 400px;
	width: 400px;
	color: blue;
}

.footer{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}