<div class="paciente-container">
    <div class="paciente-title">
        <h2>PACIENTE:{{ paciente.nome }} - CPF:{{ paciente.cpf }}</h2>
    </div>
  
    <div class="paciente-hr">
      <hr/>
    </div>

    <div class="paciente-input">
      <input placeholder="selecione a data" type="date" [(ngModel)]="date">
      <div class="paciente-buscar">
        <a (click)="findByDate()"><span>BUSCAR</span></a>
      </div>
    </div>
  
    <div class="paciente-text">
      <ul>
        <li *ngFor="let a of consultas" >
            <div class="card-paciente" >
                <a [routerLink]="['/consultas',a.id]">
                  <h3>Med: {{ a.medico.nome }}</h3>
                  <h3>Data: {{ a.dataConsulta }}</h3>
                  <h3>Hora: {{ (transform(a.horarioConsulta) | date:'HH:mm') }}</h3>
                </a>
            </div>
        </li>
        <li *ngIf="consultas.length === 0">
          <div class="card-paciente-nao-cadastrado" >
            <h3>Nenhuma consulta marcada</h3>
          </div>
        </li>
      </ul>
    </div>
  
  
  </div>
  