<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link href="../css/style.cadastro.css" rel="stylesheet" />
	<link rel="icon" href="imagens/logomenu.png">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="#"><img src="../images/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">CONSULTAS<span class="sr-only">(Página atual)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pacientes/listar">PACIENTES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">RELATÓRIOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/especialidades/listar">ESPECIALIDADES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/funcionarios/listar">FUNCIONÁRIOS</a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="container">
		<h2>Cadastro de Funcionário</h2>
		<form th:method="post" th:action="@{/funcionarios/salvar}" th:object="${funcionarioNewDTO}">

			<div class="form-floating mb-3">
				<label for="floatingInput">Nome completo:</label>
				<input type="text" class="form-control" placeholder="Nome completo" name="nome" th:field="*{nome}">
				<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Email:</label>
				<input type="email" class="form-control" placeholder="name@gmail.com" name="email" th:field="*{email}">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Senha:</label>
				<input type="password" class="form-control" placeholder="Senha" name="senha" th:field="*{senha}">
				<div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
			</div>

			<div class="form-floating mb-3">
				<select class="form-select" aria-label="Default select example" id="SelectPerfil" th:field="*{perfis}">
					<option value="" selected disabled>Selecionar Perfil</option>
					<option value="4">Funcionario</option>
					<option value="3">Secretário</option>
					<option value="2">Médico</option>
					<option value="1">ADMIN</option>
				</select>

			</div>


			<div id="additionalInputs" style="display: none;">

				<div class="form-floating mb-3">
					<label for="floatingInput">CRM</label>
					<input type="text" class="form-control" placeholder="CRM" name="crm" th:field="*{crm}">
					<div th:if="${#fields.hasErrors('crm')}" th:errors="*{crm}"></div>
				</div>

				<div class="form-floating mb-3">
					<div class="form-group">
						<label for="especialidade">Especialidade:</label>
						<select class="form-control" id="especialidade" th:field="*{especialidade}">
							<option value="" selected disabled>Selecione uma especialidade</option>
							<option th:each="especialidade : ${especialidades}" th:value="${especialidade.id}"
								th:text="${especialidade.nome}"></option>
								
						</select>
						<div th:if="${#fields.hasErrors('especialidade')}" th:errors="*{especialidade}"></div>
					</div>

				</div>

			</div>

			<div class="container-cadastrar">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
				<a class="btn btn-light" th:href="@{/funcionarios/listar}">Voltar</a>

			</div>



		</form>

		<footer class="footer">
			<p>&copy; 2023 Sérgio Cardoso</p>
		</footer>

	</div>


	<script src="../scripts/JSCadastroFuncionario.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>

</html>