.container-cadastro-especialidade{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
  }
  
  .title-cadastro-especialidade{
    margin-bottom: 20px;
  }
  
  
  .title-cadastro-especialidade > h2{
    color: rgb(26, 25, 25);
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .cadastro-especialidade-hr{
    margin-bottom: 20px;
  }
  
  
  
  .cadastro-especialidade-inputs > form > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
 .input-nome > textarea{
  min-width: 80%;
  min-height: 50px;
 }
  
  
  .btn-cadastrar{
    margin-top: 15px;
    width: 100px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #575656;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    transition: all .35s;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
  }
  
  .btn-cadastrar > a span{
    position: relative;
    z-index: 2;
  }
  
  .btn-cadastrar > a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #06976b;
    transition: all .35s;
  }
  
  .btn-cadastrar > a:hover{
    color: #fff;
  }
  
  .btn-cadastrar > a:hover:after{
    width: 100%;
  }
  