<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

	<link th:href="@{/css/style.editar.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">CONSULTAS<span class="sr-only">(Página atual)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/pacientes/listar">PACIENTES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">RELATÓRIOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/especialidades/listar">ESPECIALIDADES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/funcionarios/listar">FUNCIONÁRIOS</a>
				</li>

			</ul>
		</div>
	</nav>
	<div class="container">
		<h2>Edicao de Pacientes</h2>
		<form th:method="put" th:action="@{/pacientes/atualizar}" th:object="${paciente}">
			<input id="id" type="hidden" th:field="*{id}" />
			<div class="form-floating mb-3">
				<label for="floatingInput">Nome completo:</label>
				<input type="text" class="form-control" placeholder="Nome completo" name="nome" th:field="*{nome}">
				<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Data de Nascimento:</label>
				<input type="date" class="form-control" placeholder="dd/MM/yyyy" name="dataDeNascimento"
					th:field="*{dataDeNascimento}"
					th:value="${#dates.format(paciente.dataDeNascimento, 'yyyy-MM-dd')}" />
				<div th:if="${#fields.hasErrors('dataDeNascimento')}" th:errors="*{dataDeNascimento}"></div>
			</div>

			<div class="form-floating mb-3">
				<label for="floatingInput">Telefone:</label>
				<input type="text" class="form-control" placeholder="Telefone" name="telefone" th:field="*{telefone}">
				<div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Email:</label>
				<input type="email" class="form-control" placeholder="name@example.com" name="email"
					th:field="*{email}">
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>

			<div class="form-floating mb-3">
				<label for="floatingInput">Convênio:</label>
				<input type="text" class="form-control" placeholder="Convênio" name="convenio" th:field="*{convenio}">
				<div th:if="${#fields.hasErrors('convenio')}" th:errors="*{convenio}"></div>
			</div>

			<div class="form-floating mb-3">
				<label for="floatingInput">Logradouro:</label>
				<input type="text" class="form-control" placeholder="Logradouro" name="logradouro"
					th:field="*{logradouro}">
				<div th:if="${#fields.hasErrors('logradouro')}" th:errors="*{logradouro}"></div>
			</div>

			<div class="form-floating mb-3">
				<label for="floatingInput">Número:</label>
				<input type="text" class="form-control" placeholder="Número" name="numero" th:field="*{numero}">
				<div th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Cep:</label>
				<input type="text" class="form-control" placeholder="Cep" name="cep" th:field="*{cep}">
				<div th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Bairro:</label>
				<input type="text" class="form-control" placeholder="Bairro" name="bairro" th:field="*{bairro}">
				<div th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Complemento:</label>
				<input type="text" class="form-control" placeholder="Complemento" name="complemento"
					th:field="*{complemento}">
				<div th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Cidade:</label>
				<input type="text" class="form-control" placeholder="Cidade" name="cidade" th:field="*{cidade}">
				<div th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></div>
			</div>
			<div class="form-floating mb-3">
				<label for="floatingInput">Estado:</label>
				<input type="text" class="form-control" placeholder="Estado" name="estado" th:field="*{estado}">
				<div th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
			</div>


			<div class="container-cadastrar">
				<button type="submit" class="btn btn-primary">Cadastrar</button>
				<a class="btn btn-light" th:href="@{/pacientes/listar}">Voltar</a>
			</div>

		</form>



		<hr />

		<footer class="footer">
			<p>&copy; 2023 Sérgio Cardoso</p>
		</footer>

	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

</body>

</html>