<div class="container">
    <div class="card-especialidades-title">
        <h2>VERIFICAR PROCEDIMENTO</h2>
      </div>
    
      <div class="especialidades-hr">
        <hr/>
      </div>

    <div class="container-box">
        <fieldset class="buscar">
            <div class="dados">
                <input type="date" name="data" [(ngModel)]="data">
                    <select id="especialidade" [(ngModel)]="procedimentoselecionado" name="especialidadeSelecionada">
                    <option value="-1" disabled>Procedimentos</option>
                    <option *ngFor="let procedimento of procedimentos" [value]="procedimento.id">
                        {{ procedimento.nome }}
                    </option>
                    </select>
            </div>
            
    
            <div class="container-buscar">
                <div class="container-buscar">
                    <div class="paciente-cadastrar">
                        <a (click)="verificar()"><span>VERIFICAR</span></a>
                    </div>
                </div>  
            </div>
    
        </fieldset>
    </div>
    
</div>